
.huntlog>*, .gundsccontainer>* {
	border: 1px solid #056;
	font-family: monospace;
	margin: 1em;
	padding: 1em;
}

.snarkstars {
	padding-left: 0.5em;
	width: 133px;
}

.snarkpanel {
	border: 0;
	padding: 0;
	margin: 0;
	width: 133px;
	background: url("snark_panel_back.png");
}

.snarkpanelgun {
	display: inline;
	margin-left: 1em;
	color: #FF0;
	font-weight: bold;
	font-family: monospace;
	font-size: 14px;
}

a.snarkpanelgun:hover {
	text-decoration: none;
	font-family: monospace;
	font-size: auto;
	color: #6F5;
}

