/*--------------------------------------------------------
  |                     YaBB 2005                        |
  --------------------------------------------------------
  |     Created by: XIMinc http://www.ximinc.com         |
  |                 YaBB http://www.yabbforum.com        |
  --------------------------------------------------------
  |   You may adapt elements of this CSS in your own     |
  |   projects, but please give credit to yabbforum.com. |
  --------------------------------------------------------*/

/* General layout */

a {
font-weight: normal;
color: #62686F;
font-family: Verdana, Arial, Sans-Serif;
text-decoration: none;
}
a:hover {
color: #000;
font-family: Verdana, Arial, Sans-Serif;
text-decoration: underline;
}
body {
padding: 0;
background-color: #F2F6F9;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 12px;
margin-top: 5px;
margin-left: 0;
margin-right: 0;
padding-top: 0;
padding-left: 0;
padding-right: 0;
}
form {
display: inline;
padding: 0px;
margin: 0px;
}
input {
background-color: #E8EBEF;
border: 1px solid #B1BDC9;
color: #000000;
font-family: verdana, helvetica, sans-serif;
font-size: 12px;
}
textarea {
background-color: #E8EBEF;
border: 1px solid #B1BDC9;
color: #000;
font-family: verdana, helvetica, sans-serif;
font-size: 12px;
}
elect {	
background-color: #E8EBEF;
border: 1px solid #B1BDC9;
color: #000;
font-family: verdana, helvetica, sans-serif;
font-size: 10px;
}
elect optgroup {	
color: #000;
font-family: verdana, helvetica, sans-serif;
font-size: 10px;
}
.copyright {
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 11px;
text-align: center;
}
#fscroller {
line-height: 1.3;
}

/* YaBB navigation links */

.nav, a.nav, a.nav:visited {
font-weight: bold;
font-size: 13px;
color : #5488C1;
text-decoration: none;
}
a.nav:hover {
color: #c33;
text-decoration: underline;
}

/* YaBB alternating bgcolors */

.windowbg {
background-color: #DDE3EB;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-family: Verdana, sans-serif;
color: #304B58;
}
.windowbg2 {
background-color: #FEFEFE;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-family: Verdana, sans-serif;
color: #304B58;
}
.windowbg3 {
background-color: #000;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-family: Verdana, sans-serif;
color: #304B58;
}

/* Misc/title/category colors */

.dividerbot {
border-bottom: 1px #a7b8cc solid;
}
.dividertop {
border-top: 1px #a7b8cc solid;
}
.hr {
color: #273F49;
}
.bordercolor {
font-size: 12px;
font-family: verdana, arial, sans-serif;
background-color: #B1BDC9;
}
.small {
font-size: 10px;
font-family: verdana, arial, sans-serif;
}
.top{
font-style: normal;
font-size: 11px;
color: #475F79;
}
.titlebg {
font-size: 14px;
font-weight: bold;
font-style: normal;
text-decoration: none;
font-family: verdana, sans-serif;
color: #fff;
background-color: #69c;
}
.titlebg a{
font-weight: bold;
font-style: normal;
text-decoration: none;
color: #ffffff;
}
.titlebg a:hover{
text-decoration: underline;
}
.catbg {
font-size: 13px;
font-weight: bold;
font-style: normal;
text-decoration: none;
font-family: verdana, helvetica, arial, sans-serif;
color: #fff;
background-color: #ADC7E1; 
}
.catbg a{
font-weight: bold;
font-style: normal;
text-decoration: none;
color: #fff;
}
.catbg a:hover{
text-decoration: underline;
}
.message {
font-size: 11px;
font-weight: normal;
font-style: normal;
text-decoration: none;
font-family: verdana, arial, sans-serif;
color: #62686F;
}
.message a{
font-weight: normal;
font-style: normal;
text-decoration: none;
color: #900000;
background-color: transparent;
}
.message a:hover{
text-decoration: underline;
color: #000;
background-color: transparent;
}
.droppageindex {
float: left;
font-family: verdana, sans-serif;
background-color: #fff;
color: #000;
padding: 0px;
padding-left: 4px;
margin: 0px;
border: 2px inset;
}
.droppages{
height: 14px;
padding-left: 1px;
padding-right: 1px;
}
.droppages a{
color: #000;
font-size: 9px;
font-weight: normal;
}
.highlight {
font-weight: bolder;
background-color: #FF3;
color: #000;
}

/* Image fonts */

.imgbg {
font-style: normal;
font-size: 10px;
color: #fff;
}
.imgcatbg {
font-style: normal;
font-size: 10px;
color: #000;
font-weight: bold;
}
.imgtitlebg {
font-style: normal;
font-size: 10px;
color: #FFF;
font-weight: bold;
}
.imgwindowbg {
font-style: normal;
font-size: 9px;
color: #005177;
}
.imgmenu {
font-style: normal;
font-size: 11px;
color: #000;
font-weight: bold;
}

/* Post quote/code colors */

.quote {
font-size: 11px;
font-weight: normal;
font-style: normal;
font-family: verdana, helvetica, arial, sans-serif;
color: #000;
background-color: #E8EBEF;
border: 1px #34689A solid;
width: 90%;
padding: 4px;
}
.code {
font-size: 14px;
font-weight: normal;
font-style: normal;
font-family: Courier, Courier New, Sans-Serif;
color: #000;
background-color: #ccc;
border: 1px #34689A solid;
width: 90%;
padding: 4px;
}
.editbg,.offtopbg,.flamebg,.floodbg{
color: #000;
font-size: 11px;
font-weight: normal;
font-style: normal;
font-family: Verdana, Helvetica, Arial, Sans-Serif;
background-color: #FFFEDF;
border: 1px #c00 solid;
width: 90%;
padding: 4px;
}

.showover {
display: block;
border: 1px dashed olive;
padding: 2px 3px;
}
.showover>* {
display: none;
}
.showover:hover>*, .showover>*:first-child {
display: block;
}
.showover>*:first-child:before {
content: "Show ";
}
.showover:hover>*:first-child:before {
content: "";
}

.offtopbg {
color: #677;
background-color: #DDE;
border: 1px #467 solid;
}
.flamebg {
color: #533;
background-color: #DCC;
border: 1px #633 solid;
}
.floodbg {
color: #777;
background-color: #DDD;
border: 1px solid #AAA;
}

/* Anything below here is just for the template */

#container{
background-color: #F2F6F9;
width: 90%;
margin-left: auto;
margin-right: auto;
padding: 0px;
border-top: 0px;
margin-bottom: 10px;
font-family: verdana, arial, helvetica, sans-serif;
}
.topline{
border-top: 1px solid #34689A;
}
.topheader{
background: #4981B8;
margin-bottom: 10px;
}
.boardcontainer {
background-color: #bbb;
border-bottom: 3px solid #eee;
border-left: 1px solid #eee;
}
.displaycontainer {
width: 100%;
padding: 1px;
background-color: #bbb;
}
.headerwelc{
color: #fff;
font-size: 13px;
font-weight: bold;
}
.headerwelc a{
color: #fff;
}
.headerwelc a:hover{
text-decoration: underline;
}
.headerinfo{
color: #fff;
}
.headerinfo a{
color: #eee;
text-decoration: underline;
}
.headerinfo a:hover{
color: #80DAF2;
}
.seperator {
border-bottom: 3px solid #eee;
border-left: 1px solid #eee;
background-color: #bbb;
}
.navbarcontainer{
margin: 0px;
}

/* Header. Custom. */
#llogo{
width:99%;
font-weight:bold;
}
#llogo>*{
padding:0 5%;
width:40%;
font-weight:bold;
font-family:sans-serif;
}
#llogo>a{
font-size:2em;
float:left;
}
#llogo>a>i{
font-family:serif;
color:red;
}
#llogo>div{
text-align:right;
float:right;
}

/* Code highlighting */

/* seashell */
pre.code { color:#000000; background-color:#fff5ee; font-size:10pt; font-family:'Courier New';}
.hl.num { color:#ff1493; }
.hl.esc { color:#6a5acd; }
.hl.str { color:#ff1493; }
.hl.pps { color:#ff1493; }
.hl.slc { color:#2929cc; }
.hl.com { color:#2929cc; }
.hl.ppc { color:#800080; }
.hl.opt { color:#676767; }
.hl.lin { color:#555555; }
.hl.kwa { color:#2e8b57; font-weight:bold; }
.hl.kwb { color:#2e8b57; font-weight:bold; }
.hl.kwc { color:#696969; font-weight:bold; }
.hl.kwd { color:#00008f; }

/* The End */
